/* General Styles */
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p, h1, h2, h3, {
  margin-top: 0;
  margin-bottom: 0; 
}
.img {
  display: block;
}

.container {
  width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.header {
  width: 100%;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

/* Стилі для логотипа та навігації */
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logospan {
  color: #2e2f42;
}

.nav {
  display: flex;
  align-items: center;
}

.navul {
  display: flex;
  gap: 40px;
}

.nav-item {
  padding: 24px 0;
}

.navlink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}

.navlink:hover,
.navlink:focus {
  color: #404bbf;
}

/* Контактна інформація */
.navadress {
  display: flex;
  margin-left: auto;
}

.contact-info {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.contact-item {
  margin-right: 40px;
}

.contact-item:last-child {
  margin-right: 0;
}

.contact-link-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  display: flex;
}

.contactlink:hover,
.contactlink:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}


.hero-section {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-section .container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Стилі для заголовка */
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
}

/* Стилі для кнопки */
.btn-order {
  background-color: var(--btn-bg-color, #4d5ae5);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}

.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
}

/* Друга секція */
/* Друга секція */
.strategy-section {
  padding: 120px 0;
  background-color: #ffffff;
}

.strategy-section .container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Прихований заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Список стратегії */
.strategy-list {
  display: flex;
  gap: 24px;
}

.strategyli {
  flex-basis: calc((100% - 72px) / 4);
}

/* Стилі заголовків у списку */
.strategy-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* Стилі параграфів у списку */
.strategy-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}


/* Третя секція */
/* Третя секція */
.team-section {
  background-color: #f4f4fd;
  
}

.team-section-ul {
display: flex;
gap: 24px;
}

.headertwo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

/* Список команди */
.team-list {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Пункти списку */
.team-item {
  background-color: #ffffff;
  padding: 20px;
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  text-align: center;
  display: flash;
  flech-direktion: tsolumn;
  align-items: center;
}


/* Стилі для заголовка в пунктах списку */
.team-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 10px;
}

/* Стилі для тексту в пунктах списку */
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}



/* Четверта секція */
.portfolio-section {
  padding: 120px 0 120px 0;
}


/* Заголовок секції */
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}

/* Список портфоліо */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  
}

/* Пункти списку */
.portfolio-item {
  background-color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-item-img {
  margin: 0 auto;
  display: block;
}

/* Стилі для заголовків у списку */
.portfolio-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 10px;
}

/* Стилі для параграфів у списку */
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Футер */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  text-align: center;
}

.footer .container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer-blok {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
}

/* Стилі для логотипу */
.footer-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-span {
  color: #f4f4fd;
}

/* Стилі для тексту */
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color, #f4f4fd);
  margin-top: 20px;
  max-width: 264px;
}